main {
	margin: 25px auto 0;
	width: 85%;
}

nav {
	ul {
		display: flex;
		list-style-type: none;
		margin-top: 16px;
		padding-left: 0;
		width: 100%;

		li {
			margin: 0 auto;
		}
	}
}

h1 {
	text-align: center;
}

#characters-list {
	margin-top: 25px;

	.character {
		height: 240px;
		margin: 0 8px 16px;
		padding: 0 8px;
		width: 256px;

		&[data-character-rarity='4'] {
			background-color: purple;

			.character-infos,
			.character-action a {
				color: white;
			}
		}

		&[data-character-rarity='5'] {
			background-color: gold;

			.character-infos,
			.character-action a {
				color: black;
			}
		}

		.character-actions {
			display: flex;
			justify-content: space-between;
			margin-left: auto;
			position: relative;
			top: 5px;
			visibility: hidden;
			width: 100%;

			.character-infos img {
				position: relative;
				top: 10px;
				height: 24px;
				width: 24px;

				&.character-unit-class {
					margin-left: -0.4rem;
				}
			}

			ul {
				margin: 0 0 0 auto;
				width: fit-content;

				li:not(:first-child) {
					margin-left: 5px;
				}
			}
		}

		.character-name {
			background-color: rgba(255, 255, 255, 0.75);
			bottom: 2.5rlh;
			display: none;
			margin-bottom: 0;
			position: relative;
			text-align: center;
		}

		img {
			aspect-ratio: 1;
			margin-top: -1.35rlh;
			height: auto;
			width: 100%;
		}

		&:hover {
			.character-actions {
				visibility: visible;
			}

			.character-name {
				display: block;
			}
		}
	}
}

.form-container {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin-top: 1.5rem;
	padding: 15px;
}
