[data-whoops] {
	display: flex;
	flex-direction: column;
	align-items: center;

	[data-whoops-call-to-action] {
		margin-top: 1.5rem;
		text-align: center;

		.btn {
			width: 100%;

			&:not(:first-child) {
				margin-top: 0.5rem;
			}
		}
	}

	[data-whoops-icon] {
		font-size: 20rem;
		margin-top: -5rem;
	}

	[data-whoops-message] {
		margin-top: -5rem;
	}

	[data-whoops-trace] {
		text-align: center;
	}
}
